<div class="container">
	<form  class="form">
		<div class="form-group col-md-6">
			<label for="">GitHub Username</label>
			<input type="text" class="form-control" ng-model="username">
		</div>
		<div class="form-group col-md-12">
			<button class="btn-sm btn-success" ng-click="getUserData(username)">Get User Data</button>
		</div>
	</form>

	<div class="col-md-12" ng-show="userData">
		<div class="row">
			<h1 class="">
			   Repos for {{userData.login}}
			</h1>
		</div>
		<div class="row">
			

		<div class="table-responsive">
			<!-- <table ng-table="tableParams" class="table" show-filter="true">
			    <tr ng-repeat="repo in $data" class="scale-fade-in">
			        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
			           
			            <a href="{{repo.html_url}}"> {{repo.name}}</a>
			            </td>
		            <td title="'Description'" filter="{ description: 'text'}" sortable="'description'">
		            	{{repo.description}}</td>
	            	<td title="'Home Page'" filter="{ homepage: 'text'}" sortable="'homepage'">
	            	{{repo.homepage}}</td>
	            	<td title="'Created At'" filter="{ created_at: 'text'}" sortable="'created_at'">
	            	{{repo.updated_at | date : short : timezone}}</td>
	            	<td title="'Updated At'" filter="{ updated_at: 'text'}" sortable="'updated_at'">
	            	{{repo.created_at| date : short : timezone}}</td>
			    </tr>
			</table> -->
			<ul>
				<li ng-repeat="repo in repoData">
					<a href="javascript:;">{{repo.name}} 
						<span ng-init="getIssuesCount(repo)" class="badge">{{issue_count}}</span>
					</a>
				</li>
			</ul>
		</div>
		
	</div>
</div>